/*
File name: styles.css
Date: 2017.05.11
Programmer: Rebecca Kennedy
*/

/* MOBILE STYLESHEET */

body {
    font-family: 'Merriweather', serif;
    font-size: 16.3px;
}

h1 {
    font-family: 'Exo', sans-serif;
    border-bottom: .1em solid #000;
    border-top: .1em solid #000;
    text-align: center;
    font-size: 2em;
}

form {
    background-color: lightblue;
    padding: .25em;
}

 td {
     border: .1em solid black;
     padding: .3em;
}

table {
    margin: .7em;
    margin-top: 1.3em;
    border: .15em solid black;
}

table, td {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background: lightblue;
}

.book-links{
    margin-left: 2em;
}

.book-links li{
    padding-bottom: .8em;
}

.book-links a:visited{
    color: darkblue;
}

.center {
    text-align: center;
}

.break {
    word-break: break-all;
}

.search {
    font-weight: bold;
}

#bookThumb {
    margin: .8em;
    margin-bottom: 0;
}

/*
TABLET STYLESHEET
The following CSS affects all screen sizes larger than 480 pixels wide.
*/

@media only screen and (min-width: 481px) {

    body {
        font-size: 16.3px;
    }

}

/* Adjusting for table moving below image. */

@media only screen and (min-width: 813px) {
    
    #bookThumb {
        float: left;
    }

}

/*
DESKTOP STYLESHEET
The following CSS affects all screen sizes larger than 1024 pixels wide.
*/

@media only screen and (min-width: 1025px) {
    main {
        max-width: 90em;
        margin-left: auto;
        margin-right: auto;
    }
    
    form {
        font-weight: bold;
        padding-left: 20%;
    }
}