/*
File name: styles.css
Date: 2017.05.05
Programmer: Rebecca Kennedy
*/

h1 {
    font-family: 'Exo', sans-serif;
    border-bottom: 3px solid #000;
    border-top: 3px solid #000;
    text-align: center;
    font-size: 33px;
}

main {
    font-family: 'Merriweather', serif;
    font-size: 16.3px;
}

 td {
     border: 1px solid black;
     padding: 4px;
}

table {
    border: 2px solid black;
}

table, td {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background: lightblue;
}

#bookThumb {
    float: left;
    margin: 13px;
}